@import url('https://fonts.cdnfonts.com/css/microsport');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.stop-scroll
{
    overflow: hidden;
}
.title{
    font-family: 'Microsport', sans-serif;
}
body{
    background-image: url(https://kartinkin.net/pics/uploads/posts/2022-08/thumbs/1659551136_2-kartinkin-net-p-patterni-dlya-saita-besshovnie-krasivo-2.jpg);
    background-size: 100%;
    
}
.header{
    background-color: aliceblue;
    text-align: center;
    height: 64px;
}
.header-panel{
    display: flex;
}
.header-widget{
    position: fixed;
    top: 64px;
    right: 0;
    bottom: -400px;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    padding: 0;
    background-color: aqua;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
.active{
  visibility: visible;
  display: block !important; 
}
.header-widget ul{
  display: flex;
  flex-flow: column wrap;
  margin: 0px;
  padding: 0px;
}
.header-widget ul li{
    display: inline-block;
    list-style: none;
    padding: 3px;
}

@media (min-width: 992px){
    .header-panel{
        display: none;
    }
    .header-widget{
        position:relative;
        display:inline;
        top:0px;
        visibility:visible;
        }
    .header-widget ul{
      display:block;
    }
    .widget-menu{
      position: absolute;
    }
    .widget-menu ul{
      border-radius: 15px;
      background-color: blueviolet;
      display: flex;
    }
}

.widget{
    display:block;

}
.widget ul{
    list-style: none;
}
.widget ul li{
    text-align: center;
}
.widget-title{
    cursor: pointer;
    text-align: left;
    padding: 8px 24px;
}
.widget-menu{
  display: none;
}
.widget-menu ul li{

    text-align: left;
    padding: 5px 30px;
    /* margin-left: 20px; */
}
.fixed-overlay {
  position: fixed;
  z-index: 20;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 372px;
}

.modal-container {
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.auth-form{
  display: flex;
  flex-flow: column;
  text-align: center;
}
.auth-input-container{
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.auth-input{
  min-width: 260px;
  width: 100%;
  border-radius: 70px;
  border: 2px solid black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 46px;
  padding-left: 16px;
  padding-right: 36px;
  margin-bottom: 16px;
}
.auth-label{
  margin-bottom: 5px;
  margin-right: 15px;
  cursor: pointer;
  color: blue;
  text-align: end;
  text-decoration: underline;
}
.auth-input-label{
  position: absolute;
  pointer-events: none;
  top: 10px;
  white-space: nowrap;
  overflow: hidden;
  transition: .3s;
  left: 22px;
}

.auth-input:focus~.auth-input-label,
.auth-input:not(:focus):not(:invalid)~.auth-input-label {
  top: -10px;
  font-size: 14px;
  background-color: #fff;
  padding: 0px 2px;
}
.auth-btn{
  font-size: 14px;
  border: 0px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 18px;
  background: #d93a00;
  border-radius: 999px;
  color: #fff;
  height: 40px;
  padding: 0 16px;
  text-transform: unset;
  width: 100%;
  margin-top: 5px;
}
.auth-checkbox{
  margin: 5px;
}
.modal-btn-cls{
  border-radius: 15px;
  position: absolute;
  background-color: #D93A00;
  color: white;
  border: 0px;
  right: -3px;
  top: -4px;
  width: 30px;
  height: 30px;
}
.error{
  position: absolute;
  z-index: 777;
  margin: 43px 0;
  pointer-events: none;
  color:red;
  font-size: 12px;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: .3s;
  left: 5px;
}

.content{
  background-color: white;
}
.promo-textbox{
  min-height: 160px;
  vertical-align: middle;
  justify-content: center;
  padding: 30px 15px;
  margin-top: 32px;
}

.promo-btn{
  align-items: center;
  justify-content: center;
  height: 48px;
  text-align: center;
  border: 0;
  background-color: #5e2bff;
  color: #fff;
  border-radius: 30px;
  padding: 4px 24px;
  font-weight: 600;
}
.promo-text{
  display: flex;
  color: #000f21;
  letter-spacing: -2px;
  font-size: calc( (150vw — 30rem)/50 + 1rem);
  line-height: 1.17;
  padding-bottom: 10px;
}

.promo-img-wrapper {
  position: relative;
  padding-top: 74%;
  margin-top: 32px;
  padding-bottom: 14%;
}
.promo-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.moved-up{
  animation:  move 1.5s infinite alternate linear;
}
.moved-down{
  animation:  move 1.5s infinite alternate-reverse linear ;
}

@keyframes move {
  0% {
    margin-top: -10px;
  }
  100% {
    margin-top: 10px;
  }
}